<!doctype html>
<html>

<head>
    <title>Trinity University Athletic Schedule</title>
</head>

<body style="text-align:center">
    <h1>Trinity University Athletic Schedule
        <a href="leaderboard" target="_blank">
            <button style="background-color: blue; color: white;">Leaderboard</button>
        </a>
    </h1>
    <h2> Week of Nov 12 </h2>
    <ul style="list-style-type:none;">
        {% for game in games %}
        <li> {{game['sport']}}</li>
        <li> {{game['date']}} at {{game['time']}}</li>
        <li style="margin-bottom: 10px">
            <label>
                <input type="radio" name="{{game['id']}}" value="{{ game['home_team'] }}" onclick="handleCheckboxClick(this, '{{ game['away_team'] }}')">
                {{ game['home_team'] }} vs. {{ game['away_team'] }}
            </label>
            <label>
                <input type="radio" name="{{game['id']}}" value="{{ game['home_team'] }}" onclick="handleCheckboxClick(this, '{{ game['away_team'] }}')">
            </label>
            <a href="team" target="_blank">
                <button style="background-color: blue; color: white;">Team Info</button>
            </a>
        </li>
        {% endfor %}
    </ul>
    <label>
        Username:
    </label>
    <input type="text">
    <button>Submit</button>
</body>

</html>