<!doctype html>
<html>
    <head>
        <title>Trinity University Athletic Team Info</title>
    </head>
    <body style="text-align:center">
        <h1>Leaderboard</h1>
        <div style="list-style-type:none;">
            rank    user    votes    percent correct
            <ul style="list-style-type:none;">
                {% for user in users %}
                <li>
                {{ user['rank'] }}    {{user['username']}}    {{user['votes']}}    {{user['percent_correct']}}
                </li>
                {% endfor %}
            </ul>
        </div>
    </body>
</html>